.genZ-section{
    height: 100vh;
    background-color: #FFFDFA;

    background-image: url('../../assets/GenZbg.png');
    background-position:center left;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.genZ-section .heading-section{
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.genZ-section .heading-section h2{
    font-size: 3rem;
}
.heading-inner-section{
    width: 70%;
}
.heading-section span{
    color:var(--bright-golden);
    font-size: 36px;
}
.main-image{
    width: 30%;
    height: 100%;
    margin-left: 1%;
    background-image: url('../../assets/GenzMainImg.png');
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.scroll{
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}    
.golden-border{
    border: 2px solid var(--gold);
    padding: 2px;

}
@media (max-width: 1024px) {
.genZ-section{
    height: 50vh;
}
.genZ-section .heading-section h2{
    font-size: 2rem;
}
.main-image{
    width: 35%;
}
}
@media (max-width: 480px) {
.genZ-section{
    height: 75vh;

    display: flex;
    flex-direction: column;
}
.genZ-section .heading-section{
    width: 100%;
    height: 35%;

    justify-content: flex-start;
}
.heading-inner-section{
    width: 100%;
}
.genZ-section .heading-section h2{
    font-size: 2rem;
}
.scroll{
    display: none;
}
.main-image{
    width: 100%;
    height: 50%;
}
}